<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TradeMe TestSuite" parallel="classes" thread-count="1">
    <test name="carseach">
        <classes>
            <class name="nz.co.trademe.carSearchtest"></class>
        </classes>
    </test>
</suite>